body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", "Courier New", Courier, monospace;
  background: linear-gradient(to right, lightblue, yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: aliceblue;
  width: 90vw;
  height: 90vh;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  padding: 10px 20px;
  background: black;
  color: aliceblue;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: aliceblue;
  color: #000;
  border: 1px solid #000;
}
.btn:disabled {
  background: yellow;
  color: green;
  border: 1px solid #000;
  cursor: not-allowed;
}

.anime-name {
  padding: 10px;
  margin: 20px;
  background: #000;
  color: #fff;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 200;
}

/* KEEP THIS */
.anime-img {
  width: 40vw;
  height: 40vh;
  border-radius: 50%;
  padding: 10px;
  overflow: hidden;
  border: 1px solid yellow;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* this removes the anime container with the picture and the name */
.anime-container {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 50vw;
    height: 50vh;
  }

  h1 {
    font-size: 24px;
}

  .anime-img {
    width: 20vw;
    height: 20vh;
    margin: 0 auto;
  }

    .anime-name {
        font-size: 16px;
    }

    .btn {
        font-size: 14px;
    }
}